.fullpage {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: whitesmoke;
  overflow: hidden;
  color: var(--base);
}

.fullpage-first-element {
  margin-top: auto;
  padding-top: 20px;
}
